extends layout 

block content 
    h1 #{title}: #{book.title}
    p #[strong Delete the following book instances before attempting to delete this book.]
    p #[strong Author:]
        a(href=book.author.url) #{book.author.name}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Genre:]
        each val, index in book.genre
            a(href=val.url) #{val.name}
            if index < book.genre.length - 1
                |,

    if bookinstances.length 

        div(style='margin-left:20px;margin-top:20px')

            h4 Book instances

            dl 
            for bookinstance in bookinstances
                dt
                    a(href=bookinstance.url) #{bookinstance._id}
    else 
        p Do you really want to this delete this Book?

        form(method='POST' action='')
            div.form-group 
                input#authorid.form-control(type='hidden', name='bookid', required='true', value=book._id)
            button.btn.btn-primary(type='submit') Delete